@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-t from-[#c6edbb] to-[#def4d7] bg-fixed;
    }

    :root:has(.no-doc-scroll) {
        overflow: hidden;
    }

    select {
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
            no-repeat right 2px center;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

@layer components {
    .box {
        @apply mx-auto flex w-[95vw] max-w-[600px] flex-col items-center justify-center rounded-lg border border-b-[7px] border-gray-400 border-b-black bg-white shadow-lg;
    }

    .login-input {
        @apply my-2 inline-block w-[90%] rounded-sm border border-gray-400 px-3 py-2;
    }
}
